<!DOCTYPE html>
<html>
  <head>
    <title>Blogger App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Hello World!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, odit velit hic, necessitatibus itaque ratione architecto, nemo nulla accusantium doloribus tenetur aperiam officiis quam laboriosam mollitia cupiditate quidem praesentium? Quibusdam?</p>
    <%= yield %>
  </body>
</html>
